<!-- Item Type:
<input  class="view" type="" ng-model="searchText.$"> -->


<div id="pageTitle">

    <h1 class="page-heading view">Inventory</h1>

</div>
<div class="heroImage">


</div>
<!-- <div class="outerContainer"> -->

<div class="filterContainer">

    <div>
        Item Type:
        <input class="" type="" ng-model="searchText.$">
    </div>

    <div class="">
        <select name="" id="" ng-model="searchText.type">
            <option value="">None</option>
            <option value="Reptile">Reptile</option>
            <option value="Supplies">Supplies</option>
            <option value="Mammal">Mammal</option>
        </select>
    </div>

    <div class="">
        <select name="" id="" ng-model="searchText.itemType">
                <option value="">None</option>
            <option value="Python">Python</option>
            <option value="Boa">Boa</option>
            <option value="Lizard">Lizard</option>
        </select>
    </div>


</div>
<div class="item-container">
    <div class="container">
        <div ng-repeat="product in products| filter: searchText" class="tile">



            <div class="inStock">
                <div>
                    <img ng-src="{{product.image}}" alt="">
                </div>

                <div id="tile-content">
                    <h4 class="product-grid__name titleName">
                        <a class="name" ui-sref="item({id: product.id})">
                            <!--Title-->{{product.name}}</a>
                    </h4>
                    <md-divider></md-divider>
                    <div>
                        <div>
                            <h4> Number in Stock: {{product.instock}}</h4>
                        </div>

                        {{product.price}}
                        <label>
                            <input type="number" name="input" ng-model="product.quantity" min="0" max="99" required>
                        </label>


                        <div>
                            <md-button class="md-raised" ng-click="addToCart(product)" style="background-color: #75C87A;">Add To Cart</md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->