

<!-- Item Type:
<input  class="view" type="" ng-model="searchText.$"> -->


 <div>
<h1 class="page-heading view">Inventory</h1>

</div>
<div class="outerContainer">

    <div class="filterContainer">

        <div>
            Item Type:
            <input  class="views" type="" ng-model="searchText.$">
        </div>

            <div class="select" >
        <select name="" id="" ng-model="searchText.type">
                <option value="Reptile">Reptile</option>
                <option value="Supplies">Supplies</option> 
                <option value="Mammal">Mammal</option>     
            </select>
        </div>

        <div class="select" >
                <select name="" id="" ng-model="searchText.itemType">
                        <option value="Python">Python</option>
                        <option value="Boa">Boa</option> 
                        <option value="Lizard">Lizard</option>     
                    </select>
                </div>

      
    </div>
    <div class="item-container">
<div class="container">
<div ng-repeat=" product in products| filter: searchText" class="tile">

       

    <div class="inStock">
        <div>
            <img ng-src="{{product.image}}" alt="">
        </div>

       
        <p class="product-grid__name titleName">
            <a ui-sref="item({id: product.id})"><!--Title-->{{product.name}}</a></p>
        <div>
            <div>
                <h4> Number in Stock: {{product.instock}}</h4>
            </div>

            {{product.price}}
            <label>
                <input type="number" name="input" ng-model="product.quantity" min="0" max="99" required>
            </label>
            <!-- <input type="integer"  ng-model="product.quantity">  -->
            <!-- <button ng-click="addToCart(product)"></button> -->
            <md-button class="md-raised btn1" ng-click="addToCart(product)">Add To Cart</md-button>

        </div>
    </div>
</div>
</div>
</div>
</div>