
Item Type: <input type="" ng-model="searchText.$">

<div ng-repeat =" product in products| filter: searchText">

       


   <div>
       
    <img ng-src=".{{product.image}}" alt="">
   
        </div>
    {{product.name}}
    <div>
   
     {{product.price}}
     <label>Number:
            <input type="number" name="input" ng-model="product.quantity"
                   min="0" max="99" required>
         </label>
     <!-- <input type="integer"  ng-model="product.quantity">  -->
    <button ng-click="addToCart(product)">Add To Cart</button>
   
    </div>

</div>