<div class="orderContainer">

    <!-- <div>{{order.name}}</div>
        <div>{{order.quantity}}</div>
        <div>{{order.price}}</div> -->
    <h1 class="Header">Orders</h1>  
    <div class="orderContainerTable">
        <div class="orderItems"ng-repeat="order in orders">
            <img class="orderImage" ng-src="{{order.image}}" alt="">
            <span class="one">{{order.name}}</span>
            <span class="two">{{order.quantity}}</span>
            <span class="three">${{order.price}}</span>
            <span class="five">{{order.date | date: 'medium' }}</span>
            
        </div>
    </div>

</div>
</div>