* {
 margin: 0;
 padding: 0;

}

img{
   width: 300px;
   height: 300px; 
}

.navBar ul {
    width: 100%;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration-style: none;
    /* margin: 0 0 50px 0; */

}
.cart-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart {
    width: 100%;
    text-align: center;
    margin: 1.5% 0;
}

