* {
 margin: 0;
 padding: 0;

}

.carti img{
   width: 400px;
   height: 400px; 
}
.cart img{
    width: 100px;
    height: 100px; 
}
.cart {
    display: flex;
  justify-content: space-around;

}

.navBar ul {
    width: 100%;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration-style: none;
    /* margin: 0 0 50px 0; */

}
.cart-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart {
    width: 100%;
    text-align: center;
    margin: 1.5% 0;
}

.inv{
    display: column;
    justify-content: space-around;
}

.cartdiv{
    width: 20%; 
}

.totals{
    align-items: center;
}
