* {
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: underline;
}

.page-content {
  display: flex;
}
.view {
  padding-top: 3%;
}
body {
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
        
}

.carti img {
  margin: 0;
  width: 400px;
  height: 400px;
}
.cart img {
  margin: 0;
  width: 100px;
  height: 100px;
}
.cart {
  margin: 0;
  /* padding: 2% 0; */
  display: flex;
  justify-content: space-between;
}

.navBar {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navBar ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration-style: none;
  /* margin: 0 0 50px 0; */
}
.cart-container {
  margin: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: ;
}

.list-container {
  margin: 0;
  height: 100%;
}

.cart {
  /* width: 75%; */
  text-align: center;
  margin: 1.5% 0;
}

.inv {
  display: column;
  justify-content: space-around;
}

.cartdiv {
  width: 20%;
}

.totals {
  align-items: center;
}
.headerBar h1 {
  display: block;
  z-index: 999;
  height: 60px;
  margin-top: 50px;
  /* background-color: #D80000; */
  color: white;
}
.checkoutBox {
  width: 100%;
  height: 100%;
  /* position: fixed; */
  /* bottom: 0; */
  background-color: white;
  padding-top: 3%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.detailImg img {
  margin: 0;
  width: 365px;
  height: 376px;
  padding-top: 20%;
}
.item-container {
  /* width:50%; */
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: right;
  margin: 0 auto;
}

.item-sub-container {
}

.totals {
  /* width: 80%; */
}

.close {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
}

.cartControl {
  display: flex;
  flex-row: row;
 
}

.md-button {
  color: white;
}

ul li a {
  text-decoration: none;
  color: black;
  list-style: none;
}
.orders {
  width: 50%;
}
.orderContainer {
  padding-top: 8%;
  width: 100%;
  background-color: white;
  
  
  
}

.list {
  margin-top: 100px;
}

.about {
  width: 100%;
  height: 20%;
  padding: 1%
}
.contaact{
  width: 50%;
  height: 20%;
  padding: 1%
}
.aboutContainer {
  /* display: flex;  */
  background-image: url("../images/animal-1866944_1280.jpg");
  background-repeat: no-repeat;
  display: flex;
  background-size: cover;
  background-position: center;
  height: 700px;
}
footer{
   
    
}
.name{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.heroImage{
  background-image: url("../images/animal-1866944_1280.jpg");
  height: 350px;
  background-position: center;
}
.orderContainerTable{
width:70vw;
margin:0 auto;
/* background-color: white; */
padding: 10px;
box-shadow: 1px 1px 1px 1px #888888;

}
.orderContainerTable .one{width:40%}
.orderContainerTable .two{width:10%}
.orderContainerTable .three{width:15%}
.orderContainerTable .five{width:24%}
.orderContainerTable span{display:inline-block;}
/* .orderContainerTable .one{width:40%} */

.orderItems{
  padding: 20px;
  margin-top: 5px;
background-color: white;

  
}
.orderImage{
  width: 100px;
  height: 100px;
}
.Header{
height: 5%;
  background-color: #8ECF92;
  border-radius: 5px;
}