* {
 margin: 0;
 padding: 0;

}
a:hover {
    text-decoration: underline;
}

.page-content {
    display: flex;
}
.view{
    padding-top: 3%;

}

.carti img{
    margin: 0;
   width: 400px;
   height: 400px; 
}
.cart img{
    margin: 0;
    width: 100px;
    height: 100px; 
}
.cart {
    margin: 0;
    /* padding: 2% 0; */
    display: flex;
    justify-content: space-between;

}

.navBar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navBar ul {
    width: 100%;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration-style: none;
    /* margin: 0 0 50px 0; */

}
.cart-container {
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 
}

.list-container {
    margin: 0;
    height: 100%;
}

.cart {
    width: 75%;
    text-align: center;
    margin: 1.5% 0;
}

.inv{
    display: column;
    justify-content: space-around;
}

.cartdiv{
    width: 20%; 
}

.totals{
    align-items: center;
}
.headerBar h1{
    display: block;
    z-index: 999;
    height: 60px;
    margin-top: 50px;;
    /* background-color: #D80000; */
    color: white;
}
.checkoutBox{
    width:25%;
    height: 100%;
    /* position: fixed; */
    position: absolute;
    top: 110px;; 
    /* bottom: 0; */
    right: 0; 
    background-color: #F2F2F2;
    padding-top: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.detailImg img{
    margin: 0;
    width: 365px;
    height: 376px; 
    padding-top: 20%;
}
.item-container{
    /* width:50%; */
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: right;
    margin: 0 auto;
    
}

.item-sub-container{


}

.totals{
    width:80%;
}



.close{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    background-color: white;

}

.cartControl{
    display:flex;
    flex-row: row;
    justify-content: flex-start;
}

.md-button{
   
    color: white;
}
.login{
  
}
 ul li a{
  text-decoration: none;
  color: black;
  list-style: none;
}