<link rel="stylesheet" href="./styles.css/main.css">

<div class="headerBar">
    <h1> Shopping Cart</h1>
</div>

<div class="page-content">
    <div class="cartBox">
        <div class="checkoutBox view" >
            <div class="cart">
                total: {{total | number:2}}
            </div>
            <div class="cart">
                tax: {{tax | number:2}}
            </div>
            
            <div class="cart">
                total plus tax: {{final | number:2}}
            </div>
            <div class="cart totals">
                <button ng-click="updateCart(cart); reload()">Update Cart</button>
                <button ng-click="clearCart(cart); reload()">Clear Cart</button>
                <button type="button" ng-click="openPayment(); cartToOrders(cart); clearCart(cart); ">CLICK ME FOR PAY</button>
            </div>
        </div>
    </div>
    
    <div class="list-container">
        <div ng-repeat="item in cart track by item.id" class="cart-container">
            <div class="cart">
                <div class="cartdiv">
                    <img ng-src="{{item.image}}" alt="">
                </div>
                
                <div class="cartdiv">
                    {{item.name}}
                </div>
                
                <div class="cartdiv">
                    {{item.price}}
                </div>
                
                <label class="cartdiv">
                    <input type="number" name="input" ng-model="item.quantity" min="0" max="99" required>
                </label>
                <button ng-click="deleteFromCart(item.id)" class="cartdiv">Remove From Cart</button>
            </div>
        </div>
    </div>
</div>


<!-- <div class="checkoutBox" >
    <div class="cart">
        total: {{total | number:2}}
    </div>
    <div class="cart">
        tax: {{tax | number:2}}
    </div>

    <div class="cart">
        total plus tax: {{final | number:2}}
    </div>
</div>

<div class="cart totals">
    <button ng-click="updateCart(cart); reload()">Update Cart</button>
    <button ng-click="clearCart(cart); reload()">Clear Cart</button>
    <button type="button" ng-click="openPayment()">CLICK ME FOR PAY</button>
    </div>
</div> -->